* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --button: steelblue;
  --btn-text: #ffffee;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#timer {
  height: 5%;
  width: 20%;
  margin-left: 80%;
  text-align: center;

  font-size: 1.5em;
}

.btn,
.btn-answer {
  background: var(--button);
  color: var(--btn-text);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

.btn-answer:hover {
  background-image: linear-gradient(90deg, red 50% green 50%);

  transition: 0.33s ease-in;
}
.btn:hover,
.btn-answer:hover {
  border-color: slategray;
  box-shadow: inset 1px 1px 10px black;
}

.question-card {
  width: 800px;
  max-width: 60%;
  /* background-color: ivory; */
  border-radius: 10px;
  padding: 10px;
  /* box-shadow: 0 0 10px 2px steelblue; */
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.start-btn {
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
